streamlit>=1.44
fastapi>=0.115
uvicorn>=0.34
python-dotenv>=1.1

numpy>=2.2
pandas>=2.2.3
Pillow>=11.2

sentence-transformers>=3.4
faiss-cpu>=1.10
torch>=2.0
transformers>=4.40

google-generativeai>=0.8

qdrant-client>=1.13

scikit-learn>=1.6

opencv-python>=4.11

requests>=2.32

pytest>=8.3

tqdm>=4.67

nltk==3.8.1
rouge-score==0.1.2

torchvision